<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="../static/styles/styleNewTask.css">
    <title>Guaita TikTok</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #24334c;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index">GuaitaTikTok</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item me-2">
                    <a class="nav-link" aria-current="page" href="/index">Menu</a>
                </li>
                <li class="nav-item dropdown me-2">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Tasks
                    </a>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/newTask">New Task</a></li>
                    <li><a class="dropdown-item" href="/tasksView">My Tasks</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/logout">Task Example</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown me-2">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ username }}
                    </a>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">My Profile</a></li>
                    <li><a class="dropdown-item" href="#">Configuration</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/logout">Log out</a></li>
                    </ul>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link" aria-current="page" href="#">About Us</a>
                </li>
            </div>
        </div>
    </nav>
    <div class="container" id="container">
        <div class="form-container profileTask">
            <form id="mainForm" method="POST" action="/newTaskProfile">
                <h2>Create profile task</h2>
                <div class="form-control">
                    <div class="input-group">
                        <label for="username">Username</label>
                        <span class="info-icon" data-info='Please enter the username of the profile you want to track, like "joe11235"'>
                            <i class='bx bx-info-circle' ></i>
                        </span>
                    </div>
                    <input type="text" name="username" id="username" placeholder="Enter the username of the profile" autocomplete="off" required>                
                </div>
                <div class="form-control">
                    <label for="name">Task Name</label>
                    <input type="text" name="name" id="name" placeholder="Enter your task name" autocomplete="off" required>
                    <i class="icon"></i>
                </div>
    
                <div class="form-control">
                    <label for="description">Description</label>
                    <input type="text" name="description" id="description" placeholder="Explain a description for the task" autocomplete="off" required>
                    <i class="icon"></i>
                </div>
                
                <div class="form-control">
                    <label for="startDate">Start Date</label>
                    {% if wrongDate %}
                        <p style="color: red;">{{ wrongDate }}</p>
                    {% endif %}
                    <input type="date" id="startDate" name="startDate" autocomplete="off" required>
                    <i class="icon"></i>
                </div>
        
                <div class="form-control">
                    <label for="endDate">End Date</label>
                    <input type="date" id="endDate" name="endDate" autocomplete="off" required>
                    <i class="icon"></i>
                </div>
    
                <button type="submit">Create Profile Task</button>
    
            </form>
        </div>
        <div class="form-container generalTask">
            <form id="mainForm" method="POST" action="/newTaskGeneral">
                <h2>Create general task</h2>
                <div class="form-control">
                    <label for="name">Task Name</label>
                    <input type="text" name="name" id="name" placeholder="Enter your task name" autocomplete="off" required>
                    <i class="icon"></i>
                </div>
    
                <div class="form-control">
                    <label for="description">Description</label>
                    <input type="text" name="description" id="description" placeholder="Explain a description for the task" autocomplete="off" required>
                    <i class="icon"></i>
                </div>
                
                <div class="form-control">
                    <div class="input-group">
                        <label for="filters">Filters</label>
                        <span class="info-icon" data-info='Enter some type of filter, in a general task the specification of at least one of the two filters, tags or keywords must be mandatory.'>
                            <i class='bx bx-info-circle' ></i>
                        </span>
                    </div>
                    <div class="form-control">
                        <div class="input-group">
                            <label for="tags">Tags</label>
                            <span class="info-icon" data-info='Tags are the words that can be found in the hashtags of a video. Enter these tags separated by commas to perform the search, example: politics, economy...'>
                                <i class='bx bx-info-circle' ></i>
                            </span>
                        </div>
                        <input type="text" name="tags" id="tags" placeholder="Enter your tags for the search" autocomplete="off">
                        <i class="icon"></i>
                    </div>
        
                    <div class="form-control">
                        <div class="input-group">
                            <label for="keywords">Keywords</label>
                            <span class="info-icon" data-info='Keywords are the words that can be found in the description of a video. Enter these keywords to perform the search, example: world war, soccer...'>
                                <i class='bx bx-info-circle' ></i>
                            </span>
                        </div>
                        <input type="text" name="keywords" id="keywords" placeholder="Enter your keywords for the search" autocomplete="off">
                        <i class="icon"></i>
                    </div>
                </div>
                
                <div class="form-control">
                    <label for="startDate">Start Date</label>
                    {% if wrongDate %}
                        <p style="color: red;">{{ wrongDate }}</p>
                    {% endif %}
                    <input type="date" id="startDate" name="startDate" autocomplete="off" required>
                    <i class="icon"></i>
                </div>
        
                <div class="form-control">
                    <label for="endDate">End Date</label>
                    <input type="date" id="endDate" name="endDate" autocomplete="off" required>
                    <i class="icon"></i>
                </div>
    
                <div class="form-control">
                    <label for="language">Region</label>
                    <select id="language" name="language">
                        <option value="spanish">Spain</option>
                        <option value="english">English</option>
                    </select>
                    <i class="icon"></i>
                </div>
    
                <button type="submit">Create General Task</button>
    
            </form>

        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>General Task</h1>
                    <p>Create a follow-up task on a specific topic across all public TikTok profiles</p>
                    <span class="general-icon">
                        <i class='bx bx-notepad' ></i>
                    </span>
                    <button class="hidden" id="general">General Task</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Profile task</h1>
                    <p>Create a monitoring task for a specific public profile</p>
                    <span class="user-icon">
                        <i class='bx bxs-user' ></i>
                    </span>
                    <button class="hidden" id="profile">Profile Task</button>
                </div>
            </div>
        </div>
    </div>

    <br>

    {% if createdTask %}
    <div id="successModal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <h2 style="color: green";>Success!</h2>
            <p>{{ createdTask }}</p>
        </div>
    </div>
    {% endif %}

    {% if errorTask %}
    <div id="successModal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <h2 style="color: red;">Error!</h2>
            <p>{{ errorTask }}</p>
        </div>
    </div>
    {% endif %}

    {% if notFilter %}
    <div id="successModal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <h2 style="color: red;">Error!</h2>
            <p>{{ notFilter }}</p>
        </div>
    </div>
    {% endif %}
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script>

    const container = document.getElementById('container');
    const profileBtn = document.getElementById('profile');
    const generalBtn = document.getElementById('general');

    const modal = document.getElementById('successModal');
    const closeBtn = document.querySelector('.close-button');

    profileBtn.addEventListener('click', () => {
        container.classList.add("active");
    });

    generalBtn.addEventListener('click', () => {
        container.classList.remove("active");
    });

    closeBtn.onclick = function () {
        modal.style.display = 'none';
    };

    window.onclick = function (event) {
        if (event.target === modal) {
            modal.style.display = 'none';
        }
    };
</script>
</html>