<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/styles/styleReview.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Guaita TikTok</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #24334c;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index">GuaitaTikTok</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item me-2">
                    <a class="nav-link" aria-current="page" href="#">Menu</a>
                </li>
                <li class="nav-item dropdown me-2">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Tasks
                    </a>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/newTask">New Task</a></li>
                    <li><a class="dropdown-item" href="/tasksView">My Tasks</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/logout">Task Example</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown me-2">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ username }}
                    </a>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">My Profile</a></li>
                    <li><a class="dropdown-item" href="#">Configuration</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/logout">Log out</a></li>
                    </ul>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link" aria-current="page" href="#">About Us</a>
                </li>
            </div>
        </div>
    </nav>
    {% if task['taskName'] %}
        <center><h1><strong>{{task['taskName']}} Review </strong></h1></center>
    {% endif %}
    {% if profile_info %}
        <div id="dashboard-container" class="container-fluid">
            
            <div class="card shadow p-4" style="background-color: #e6e0f8;; border-radius: 15px; margin-top: 20px; margin-left: 15px; margin-right: 15px;">
                <div class="row">  
                    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                        <h4 class="text-center text-black mb-4"><strong>Task Information</strong></h4>
                        <!-- Parte izquierda: tabla de datos -->
                        <div class="left-half w-100 d-flex justify-content-center align-items-center">
                            <table class="table table-dark table-striped w-100">
                                <tbody>
                                    <tr>
                                        <th scope="row">Status</th>
                                        <td>
                                            {% if task['state'] == 'In progress' %}
                                                <i class='bx bx-loader-alt bx-spin' style="color: white;"></i> {{ task['state'] }}
                                            {% elif task['state'] == 'Finished' %}
                                                <i class='bx bxs-check-circle' style="color: green;"></i> {{ task['state'] }}
                                            {% elif task['state'] == 'Stopped' %}
                                                <i class='bx bxs-error-circle' style="color: red;"></i> {{ task['state'] }}
                                            {% elif task['state'] == 'Profile Founded' %}
                                                <i class='bx bx-search-alt bx-tada' style="color: white;"></i> {{ task['state'] }}
                                            {% elif task['state'] == 'Private' %}
                                                <i class='bx bx-lock' style="color: white;"></i> {{ task['state'] }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Status Message</th>
                                        <td>{{ task['state_message'] }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Task Name</th>
                                        <td>{{ task['taskName'] }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Description</th>
                                        <td>{{ task['description'] }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Start Date</th>
                                        <td>{{ task['startDate'] }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">End Date</th>
                                        <td>{{ task['endDate'] }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Region</th>
                                        <td>Spain</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Task Type</th>
                                        <td>{{ task['taskType'] }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Parte derecha: gráfico circular -->
                
                    <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
                        <h4 class="text-center text-black mb-4"><strong>Number of Classified Videos</strong></h4>
                        <div class="right-half w-100 d-flex justify-content-center align-items-center"> 
                            <input type="hidden" id="classifiedVideos" value="{{ videos_list['total_videos_with_voice'] }}">
                            <input type="hidden" id="notClassifiedVideos" value="{{ videos_list['total_videos_without_voice'] }}">
                            <canvas id="videoChart"></canvas>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">                       
                        <h4 class="text-center text-black mb-4"><strong>{{profile_info['data']['display_name']}}</strong></h4>
                        <div class="right-half w-100">
                            <img src="{{profile_info['data']['avatar_url']}}" style="margin-bottom: 10px;">   
                            <p><strong>Username: </strong>{{profile_info['username']}}</p>
                            <p><strong>Follower Count: </strong>{{profile_info['data']['follower_count']}}</p>
                            <p><strong>Following Count:</strong> {{profile_info['data']['following_count']}}</p>
                            <p><strong>Likes Count: </strong>{{profile_info['data']['likes_count']}}</p>
                            <p><strong>Video Count:</strong> {{profile_info['data']['video_count']}}</p>
                            <p><strong>Bio Description:</strong> {{profile_info['data']['bio_description']}}</p>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
        <input type="hidden" id="averageAgreeable" value="{{ statistics['personality']['averageAgreeable'] }}">
        <input type="hidden" id="averageConscientious" value="{{ statistics['personality']['averageConscientious'] }}">
        <input type="hidden" id="averageOpen" value="{{ statistics['personality']['averageOpen'] }}">
        <input type="hidden" id="averageExtroverted" value="{{ statistics['personality']['averageExtroverted'] }}">
        <input type="hidden" id="averageStable" value="{{ statistics['personality']['averageStable'] }}">
        <input type="hidden" id="profileName" value="{{ profile_info['data']['display_name'] }}">
        <div id="dashboard-container" class="container-fluid">
            <div class="card shadow p-6" style="background-color: #e6e0f8; border-radius: 15px; margin-top: 20px; margin-left: 15px; margin-right: 15px;">
                <div class="row">  
                    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                        <h4 class="text-center text-black mb-4"><strong>Profile Statistics</strong></h4>
                        <!-- Parte izquierda: tabla de datos -->
                        <div class="w-100 d-flex justify-content-center align-items-center">
                            <canvas id="marksChart" width="600" height="400"></canvas>
                        </div>
                    </div>
                    <!-- Parte derecha: gráfico circular -->
                    <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
                        <div class="card shadow p-4" style="background-color: #fff; border-radius: 10px; width: 100%; margin-top: 20px; margin-right: 20px;">
                            <h4 class="text-center text-black mb-4"><strong>User Profile: {{profile_info['data']['display_name']}}</strong></h4>
                            <!-- Género -->
                            <div class="d-flex align-items-center mb-3">
                                {% if statistics['gender']['gender'] == 'female' %}
                                    <i class='bx bx-female bx-lg' style="color:#FF69B4; margin-right: 10px;"></i>
                                {% else %}
                                    <i class='bx bx-male bx-lg' style="color:#3a0be2; margin-right: 10px;"></i>
                                {% endif %}
                                <div>
                                    <p style="margin: 0; font-size: 18px;"><strong>Gender:</strong> {{statistics['gender']['gender']}}</p>
                                </div>
                            </div>
                            
                            <!-- Bot -->
                            <div class="d-flex align-items-center mb-3">
                                {% if statistics['bot']['bot'] == 'bot' %}
                                    <i class='bx bx-bot bx-lg' style="color:#5A5A5A; margin-right: 10px;"></i>
                                {% else %}
                                    <i class='bx bxs-face bx-lg' style="color:#e2730b; margin-right: 10px;"></i>
                                {% endif %}
                                <div>
                                    <p style="margin: 0; font-size: 18px;"><strong>Bot or Human:</strong> {{statistics['bot']['bot']}}</p>
                                </div>
                            </div>
                            
                            <!-- Edad -->
                            <div class="d-flex align-items-center mb-3">
                                <i class='bx bx-cake bx-lg' style="color:#F4A460; margin-right: 10px;"></i>
                                <div>
                                    <p style="margin: 0; font-size: 18px;"><strong>Age:</strong> {{statistics['age']['age']}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>  
            </div>
        </div>
    {% else %}
        <div id="dashboard-container" class="container-fluid">
                
            <div class="card shadow p-4" style="background-color: #e6e0f8;; border-radius: 15px; margin-top: 20px; margin-left: 15px; margin-right: 15px;">
                <div class="row">  
                    <div class="col-md-8 d-flex flex-column justify-content-center align-items-center">
                        <h4 class="text-center text-black mb-4"><strong>Task Information</strong></h4>
                        <!-- Parte izquierda: tabla de datos -->
                        <div class="left-half w-100 d-flex justify-content-center align-items-center">
                            <table class="table table-dark table-striped w-100">
                                <tbody>
                                    <tr>
                                        <th scope="row">Status</th>
                                        <td>
                                            {% if task['state'] == 'In progress' %}
                                                <i class='bx bx-loader-alt bx-spin' style="color: white;"></i> {{ task['state'] }}
                                            {% elif task['state'] == 'Finished' %}
                                                <i class='bx bxs-check-circle' style="color: green;"></i> {{ task['state'] }}
                                            {% elif task['state'] == 'Stopped' %}
                                                <i class='bx bxs-error-circle' style="color: red;"></i> {{ task['state'] }}
                                            {% elif task['state'] == 'Profile Founded' %}
                                                <i class='bx bx-search-alt bx-tada' style="color: white;"></i> {{ task['state'] }}
                                            {% elif task['state'] == 'Private' %}
                                                <i class='bx bx-lock' style="color: white;"></i> {{ task['state'] }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Status Message</th>
                                        <td>{{ task['state_message'] }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Task Name</th>
                                        <td>{{ task['taskName'] }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Description</th>
                                        <td>{{ task['description'] }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Start Date</th>
                                        <td>{{ task['startDate'] }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">End Date</th>
                                        <td>{{ task['endDate'] }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Region</th>
                                        <td>Spain</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Task Type</th>
                                        <td>{{ task['taskType'] }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Parte derecha: gráfico circular -->
                
                    <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
                        <h4 class="text-center text-black mb-4"><strong>Number of Classified Videos</strong></h4>
                        <div class="right-half w-100 d-flex justify-content-center align-items-center"> 
                            <input type="hidden" id="classifiedVideos" value="{{ videos_list['total_videos_with_voice'] }}">
                            <input type="hidden" id="notClassifiedVideos" value="{{ videos_list['total_videos_without_voice'] }}">
                            <canvas id="videoChart"></canvas>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    {% endif %}
    <input type="hidden" id="listDays" value="{{ daysDivision }}">
    <input type="hidden" id="listWeeks" value="{{ weeksDivision }}">
    <input type="hidden" id="listMonths" value="{{ monthsDivision }}">
    
    <div id="dashboard-container" class="container-fluid"></div>
        <div class="row">  
            <div class="col-md-1 d-flex flex-column justify-content-center align-items-center">

            </div>
            <!-- Parte derecha: gráfico circular -->
            <div class="col-md-10 d-flex flex-column justify-content-center align-items-center">
                <div class="card shadow p-4" style="background-color: #e6e0f8; border-radius: 15px; margin-top: 20px; margin-left: 15px; margin-right: 15px;">
                    <h3 class="text-center text-black mb-4">Videos Time Line</h3>
                    <div class="chart-container"></div>
                        <!-- Selector de días, semanas, meses -->
                        <label for="timeSelector">Select filter:</label>
                        <select id="timeSelector">
                            <option value="days">Days</option>
                            <option value="weeks">Weeks</option>
                            <option value="months">Months</option>
                        </select>

                        <!-- Canvas para la gráfica -->
                        <canvas id="timelineChart" width="1200" height="500"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-1 d-flex flex-column justify-content-center align-items-center">
            </div>
        </div>  
    </div>

    

    <input type="hidden" id="averagePositive" value="{{ statistics['sentiments']['averagePositive'] }}">
    <input type="hidden" id="averageNegative" value="{{ statistics['sentiments']['averageNegative'] }}">
    <input type="hidden" id="averageNeutral" value="{{ statistics['sentiments']['averageNeutral'] }}">
    <input type="hidden" id="averageNone" value="{{ statistics['sentiments']['averageNone'] }}">

    <div class="card shadow p-4" style="background-color: #e6e0f8; border-radius: 15px; margin-top: 20px; margin-left: 15px; margin-right: 15px; min-height: 600px; height: auto">
        <h3 class="text-center text-black mb-4">Sentiments Statistics</h3>
        <div id="dashboard-container" class="container-fluid" style="margin-bottom: 400px;">
            <div class="row">
                <div class="col-md-7 d-flex flex-column justify-content-center align-items-center">
                    <h4 class="text-center text-black mb-4">Sentiments</h4>
                    <div class="w-100 d-flex justify-content-center">
                        <canvas id="sentimentChart"></canvas>
                    </div>
                </div>
                <div class="col-md-5 d-flex flex-column justify-content-center align-items-center">
                    <h4 class="text-center text-black mb-4">Best Videos</h4>
                    <div id="bestSentimentsVideosCarousel" class="carousel slide" data-bs-ride="false">
                        <div class="carousel-inner" style="max-height: 400px; overflow-y: auto;">
                            <!-- Video 1 Information -->
                            <div class="carousel-item active">
                                <div class="info-box d-block w-100">
                                    <h5>Best Positive Video</h5>
                                    <p><strong>Creator: </strong>{{statistics['sentiments']['positiveId']['username']}}</p>
                                    <p><strong>Description: </strong>{{statistics['sentiments']['positiveId']['video_description']}}</p>
                                    <p><strong>Text of the video:</strong> {{statistics['sentiments']['positiveId']['voice_to_text']}}</p>
                                    <p><strong>Date Creation:</strong> {{statistics['sentiments']['positiveId']['create_time']}}</p>
                                </div>
                            </div>
                            <!-- Video 2 Information -->
                            <div class="carousel-item">
                                <div class="info-box d-block w-100">
                                    
                                    <h5>Best Negative Video</h5>
                                    <p><strong>Creator: </strong>{{statistics['sentiments']['negativeId']['username']}}</p>
                                    <p><strong>Description: </strong>{{statistics['sentiments']['negativeId']['video_description']}}</p>
                                    <p><strong>Text of the video:</strong> {{statistics['sentiments']['negativeId']['voice_to_text']}}</p>
                                    <p><strong>Date Creation:</strong> {{statistics['sentiments']['negativeId']['create_time']}}</p>
                                </div>
                            </div>
                            <!-- Video 3 Information -->
                            <div class="carousel-item">
                                <div class="info-box d-block w-100">
                                    
                                    <h5>Best Neutral Video</h5>
                                    <p><strong>Creator: </strong>{{statistics['sentiments']['neutralId']['username']}}</p>
                                    <p><strong>Description: </strong>{{statistics['sentiments']['neutralId']['video_description']}}</p>
                                    <p><strong>Text of the video:</strong> {{statistics['sentiments']['neutralId']['voice_to_text']}}</p>
                                    <p><strong>Date Creation:</strong> {{statistics['sentiments']['neutralId']['create_time']}}</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="info-box d-block w-100">
                                    
                                    <h5>Best None Video</h5>
                                    <p><strong>Creator: </strong>{{statistics['sentiments']['noneId']['username']}}</p>
                                    <p><strong>Description: </strong>{{statistics['sentiments']['noneId']['video_description']}}</p>
                                    <p><strong>Text of the video:</strong> {{statistics['sentiments']['noneId']['voice_to_text']}}</p>
                                    <p><strong>Date Creation:</strong> {{statistics['sentiments']['noneId']['create_time']}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- Carousel controls -->
                        <a class="carousel-control-prev" href="#bestSentimentsVideosCarousel" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#bestSentimentsVideosCarousel" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <input type="hidden" id="averageAnger" value="{{ statistics['emotion']['averageAnger'] }}">
    <input type="hidden" id="averageDisgust" value="{{ statistics['emotion']['averageDisgust'] }}">
    <input type="hidden" id="averageFear" value="{{ statistics['emotion']['averageFear'] }}">
    <input type="hidden" id="averageJoy" value="{{ statistics['emotion']['averageJoy'] }}">
    <input type="hidden" id="averageSadness" value="{{ statistics['emotion']['averageSadness'] }}">
    <input type="hidden" id="averageSurprise" value="{{ statistics['emotion']['averageSurprise'] }}">

    <div class="card shadow p-4" style="background-color: #e6e0f8; border-radius: 15px; margin-top: 20px; margin-left: 15px; margin-right: 15px; min-height: 600px; height: auto">
        <h3 class="text-center text-black mb-4">Emotion Statistics</h3>
        <div id="dashboard-container" class="container-fluid" style="margin-bottom: 400px;">
            <div class="row">
                <!-- Parte de Best Videos -->
                <div class="col-md-5 d-flex flex-column justify-content-center align-items-center">
                    <h4 class="text-center text-black mb-4">Best Videos</h4>
                    <div id="bestEmotionsVideosCarousel" class="carousel slide" data-bs-ride="false">
                        <div class="carousel-inner" style="max-height: 400px; overflow-y: auto;"> <!-- Limita la altura -->
                            <!-- Video 1 Information -->
                            <div class="carousel-item active">
                                <div class="info-box d-block w-100">
                                    <h5>Best Anger Video</h5>
                                    <p><strong>Creator: </strong>{{statistics['emotion']['angerId']['username']}}</p>
                                    <p><strong>Description: </strong>{{statistics['emotion']['angerId']['video_description']}}</p>
                                    <p><strong>Text of the video:</strong> {{statistics['emotion']['angerId']['voice_to_text']}}</p>
                                    <p><strong>Date Creation:</strong> {{statistics['emotion']['angerId']['create_time']}}</p>
                                    <p><strong>Anger Value:</strong> {{statistics['emotion']['bestAnger']}}</p>
                                </div>
                            </div>
                            <!-- Video 2 Information -->>
                            <div class="carousel-item">
                                <div class="info-box d-block w-100">
                                    <h5>Best Disgust Video</h5>
                                    <p><strong>Creator: </strong>{{statistics['emotion']['disgustId']['username']}}</p>
                                    <p><strong>Description: </strong>{{statistics['emotion']['disgustId']['video_description']}}</p>
                                    <p><strong>Text of the video:</strong> {{statistics['emotion']['disgustId']['voice_to_text']}}</p>
                                    <p><strong>Date Creation:</strong> {{statistics['emotion']['disgustId']['create_time']}}</p>
                                    <p><strong>Disgust Value:</strong> {{statistics['emotion']['bestDisgust']}}</p>
                                </div>
                            </div>
                            <!-- Video 3 Information -->
                            <div class="carousel-item">
                                <div class="info-box d-block w-100">
                                    <h5>Best Fear Video</h5>
                                    <p><strong>Creator: </strong>{{statistics['emotion']['fearId']['username']}}</p>
                                    <p><strong>Description: </strong>{{statistics['emotion']['fearId']['video_description']}}</p>
                                    <p><strong>Text of the video:</strong> {{statistics['emotion']['fearId']['voice_to_text']}}</p>
                                    <p><strong>Date Creation:</strong> {{statistics['emotion']['fearId']['create_time']}}</p>
                                    <p><strong>Fear Value:</strong> {{statistics['emotion']['bestFear']}}</p>
                                </div>
                            </div>
                            <!-- Video 4 Information -->
                            <div class="carousel-item">
                                <div class="info-box d-block w-100">
                                    <h5>Best Joy Video</h5>
                                    <p><strong>Creator: </strong>{{statistics['emotion']['joyId']['username']}}</p>
                                    <p><strong>Description: </strong>{{statistics['emotion']['joyId']['video_description']}}</p>
                                    <p><strong>Text of the video:</strong> {{statistics['emotion']['joyId']['voice_to_text']}}</p>
                                    <p><strong>Date Creation:</strong> {{statistics['emotion']['joyId']['create_time']}}</p>
                                    <p><strong>Joy Value:</strong> {{statistics['emotion']['bestJoy']}}</p>
                                </div>
                            </div>
                            <!-- Video 5 Information -->
                            <div class="carousel-item">
                                <div class="info-box d-block w-100">
                                    <h5>Best Sadness Video</h5>
                                    <p><strong>Creator: </strong>{{statistics['emotion']['sadnessId']['username']}}</p>
                                    <p><strong>Description: </strong>{{statistics['emotion']['sadnessId']['video_description']}}</p>
                                    <p><strong>Text of the video:</strong> {{statistics['emotion']['sadnessId']['voice_to_text']}}</p>
                                    <p><strong>Date Creation:</strong> {{statistics['emotion']['sadnessId']['create_time']}}</p>
                                    <p><strong>Sadness Value:</strong> {{statistics['emotion']['bestSadness']}}</p>
                                </div>
                            </div>
                            <!-- Video 6 Information -->
                            <div class="carousel-item">
                                <div class="info-box d-block w-100">
                                    <h5>Best Surprise Video</h5>
                                    <p><strong>Creator: </strong>{{statistics['emotion']['surpriseId']['username']}}</p>
                                    <p><strong>Description: </strong>{{statistics['emotion']['surpriseId']['video_description']}}</p>
                                    <p><strong>Text of the video:</strong> {{statistics['emotion']['surpriseId']['voice_to_text']}}</p>
                                    <p><strong>Date Creation:</strong> {{statistics['emotion']['surpriseId']['create_time']}}</p>
                                    <p><strong>Surprise Value:</strong> {{statistics['emotion']['bestSurprise']}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- Carousel controls -->
                        <a class="carousel-control-prev" href="#bestEmotionsVideosCarousel" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#bestEmotionsVideosCarousel" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                </div>
                <!-- Parte de Emotions -->
                <div class="col-md-7 d-flex flex-column justify-content-center align-items-center">
                    <h4 class="text-center text-black mb-4">Emotions</h4>
                    <div class="w-100 d-flex justify-content-center">
                        <canvas id="emotionChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <input type="hidden" id="humorCount" value="{{ statistics['humor']['videosWithHumor'] }}">
    <input type="hidden" id="notHumorCount" value="{{ statistics['humor']['videosWithoutHumor'] }}">

    <div class="card shadow p-4" style="background-color: #e6e0f8;; border-radius: 15px; margin-top: 20px; margin-left: 15px; margin-right: 15px; min-height: 600px; height: auto">
        <h3 class="text-center text-black mb-4">Humor Statistics</h3>
        <div id="dashboard-container" class="container-fluid" style="margin-bottom: 400px;">
            <div class="row">
                <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
                    <h4 class="text-center text-black mb-4">Humor Videos</h4>
                    <canvas id="videoChart2"></canvas>
                </div>
                <div class="col-md-8 d-flex flex-column justify-content-center align-items-center">
                    <h4 class="text-center text-black mb-4">Best Videos</h4>
                    <div id="bestHumorVideosCarousel" class="carousel slide" data-bs-ride="false">
                        <div class="carousel-inner" style="max-height: 400px; overflow-y: auto;">
                            <!-- Video 1 Information -->
                            <div class="carousel-item active">
                                <div class="info-box d-block w-100">
                                    <h5>Best Humor Video</h5>
                                    <p><strong>Creator: </strong>{{statistics['humor']['humorId']['username']}}</p>
                                    <p><strong>Description: </strong>{{statistics['humor']['humorId']['video_description']}}</p>
                                    <p><strong>Text of the video:</strong> {{statistics['humor']['humorId']['voice_to_text']}}</p>
                                    <p><strong>Date Creation:</strong> {{statistics['humor']['humorId']['create_time']}}</p>
                                    <p><strong>Humor Value:</strong> {{statistics['humor']['bestHumor']}}</p>
                                </div>
                            </div>
                            <!-- Video 2 Information -->
                            <div class="carousel-item">
                                <div class="info-box d-block w-100">
                                    
                                    <h5>Best Not Humor Video</h5>
                                    <p><strong>Creator: </strong>{{statistics['humor']['notHumorId']['username']}}</p>
                                    <p><strong>Description: </strong>{{statistics['humor']['notHumorId']['video_description']}}</p>
                                    <p><strong>Text of the video:</strong> {{statistics['humor']['notHumorId']['voice_to_text']}}</p>
                                    <p><strong>Date Creation:</strong> {{statistics['humor']['notHumorId']['create_time']}}</p>
                                    <p><strong>Not Humor Value:</strong> {{statistics['humor']['bestNotHumor']}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- Carousel controls -->
                        <a class="carousel-control-prev" href="#bestHumorVideosCarousel" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#bestHumorVideosCarousel" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <input type="hidden" id="insultCount" value="{{ statistics['insult']['videosWithInsult'] }}">
    <input type="hidden" id="notInsultCount" value="{{ statistics['insult']['videosWithoutInsult'] }}">
    <input type="hidden" id="improperCount" value="{{ statistics['improperLanguage']['videosWithImproper'] }}">
    <input type="hidden" id="notImproperCount" value="{{ statistics['improperLanguage']['videosWithoutImproper'] }}">
    <input type="hidden" id="toxicity0Count" value="{{ statistics['toxicity']['toxicityLevel0'] }}">
    <input type="hidden" id="toxicity1Count" value="{{ statistics['toxicity']['toxicityLevel1'] }}">
    <input type="hidden" id="toxicity2Count" value="{{ statistics['toxicity']['toxicityLevel2'] }}">
    <input type="hidden" id="toxicity3Count" value="{{ statistics['toxicity']['toxicityLevel3'] }}">

    <div class="card shadow p-4" style="background-color: #e6e0f8; border-radius: 15px; margin-top: 20px; margin-left: 15px; margin-right: 15px; min-height: 600px;">
        <h3 class="text-center text-black mb-4">Insult, Improper Language and Toxicity Statistics</h3>
        <div id="dashboard-container" class="container-fluid">
            <div class="row">
                <!-- Gráfico de Insultos -->
                <div class="col-md-4 d-flex flex-column justify-content-center align-items-center" style="padding-bottom: 20px;">
                    <h4 class="text-center text-black mb-4">Insult Videos</h4>
                    <canvas id="insultChart" style="max-width: 100%; height: 250px;"></canvas>
                </div>
                
                <!-- Gráfico de Lenguaje Inapropiado -->
                <div class="col-md-4 d-flex flex-column justify-content-center align-items-center" style="padding-bottom: 20px;">
                    <h4 class="text-center text-black mb-4">Improper Language Videos</h4>
                    <canvas id="improperChart" style="max-width: 100%; height: 250px;"></canvas>
                </div>
                
                <!-- Gráfico de Toxicidad -->
                <div class="col-md-4 d-flex flex-column justify-content-center align-items-center" style="padding-bottom: 20px;">
                    <h4 class="text-center text-black mb-4">Toxicity Levels Videos</h4>
                    <canvas id="toxicityChart" style="max-width: 100%; height: 250px;"></canvas>
                </div>
            </div>
        </div>
    </div>
    
    

    <input type="hidden" id="averageIronic" value="{{ statistics['irony']['averageIronic'] }}">
    <input type="hidden" id="averageNotIronic" value="{{ statistics['irony']['averageNotIronic'] }}">
    <input type="hidden" id="averageSarcastic" value="{{ statistics['sarcasm']['averageSarcastic'] }}">
    <input type="hidden" id="averageNotSarcastic" value="{{ statistics['sarcasm']['averageNotSarcastic'] }}">
    <input type="hidden" id="averageHate" value="{{ statistics['hate']['averageHate'] }}">
    <input type="hidden" id="averageNotHate" value="{{ statistics['hate']['averageNotHate'] }}">
    <input type="hidden" id="averageMockery" value="{{ statistics['mockery']['averageMockery'] }}">
    <input type="hidden" id="averageNotMockery" value="{{ statistics['mockery']['averageNotMockery'] }}">

    <div id="dashboard-container" class="container-fluid">
        <div class="card shadow p-4" style="background-color: #e6e0f8; border-radius: 15px; margin-top: 20px; margin-left: 15px; margin-right: 15px;">
            <div class="row">  
                <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
                    <h3 class="text-center text-black mb-4">Ironic Statistics</h3>
                    <!-- Parte izquierda: tabla de datos -->
                    <div class="w-100 d-flex justify-content-center align-items-center">
                        <canvas id="ironyChart" width="350" height="350"></canvas>
                        <div class="legend">
                            <div class="legend-item">
                                <div class="color-box" style="background-color: #FF6384;"></div>
                                <span>Ironic</span>
                            </div>
                            <div class="legend-item">
                                <div class="color-box" style="background-color: #36A2EB;"></div>
                                <span>Not Ironic</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Parte derecha: gráfico circular -->
                <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
                    <h3 class="text-center text-black mb-4">Sarcasm Statistics</h3>
                    <!-- Parte izquierda: tabla de datos -->
                    <div class="w-100 d-flex justify-content-center align-items-center">
                        <canvas id="sarcasmChart" width="350" height="350"></canvas>
                        <div class="legend">
                            <div class="legend-item">
                                <div class="color-box" style="background-color: #FFCE56;"></div>
                                <span>Sarcastic</span>
                            </div>
                            <div class="legend-item">
                                <div class="color-box" style="background-color: #4BC0C0;"></div>
                                <span>Not Sarcastic</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
                    <h3 class="text-center text-black mb-4">Hate Statistics</h3>
                    <!-- Parte izquierda: tabla de datos -->
                    <div class="w-100 d-flex justify-content-center align-items-center">
                        <canvas id="hateChart" width="350" height="350"></canvas>
                        <div class="legend">
                            <div class="legend-item">
                                <div class="color-box" style="background-color: #1abc9c;"></div>
                                <span>Hate</span>
                            </div>
                            <div class="legend-item">
                                <div class="color-box" style="background-color: #b1ec0f;"></div>
                                <span>Not Hate</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
                    <h3 class="text-center text-black mb-4">Mockery Statistics</h3>
                    <!-- Parte izquierda: tabla de datos -->
                    <div class="w-100 d-flex justify-content-center align-items-center">
                        <canvas id="mockeryChart" width="350" height="350"></canvas>
                        <div class="legend">
                            <div class="legend-item">
                                <div class="color-box" style="background-color: #ecb008;"></div>
                                <span>Mockery</span>
                            </div>
                            <div class="legend-item">
                                <div class="color-box" style="background-color: #44be0c;"></div>
                                <span>Not Mockery</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="dashboard-container" class="container-fluid"></div>
        <div class="row">  
            <div class="col-md-2 d-flex flex-column justify-content-center align-items-center">
    
            </div>
            <!-- Parte derecha: gráfico circular -->
            <div class="col-md-8 d-flex flex-column justify-content-center align-items-center">
                <div class="card shadow p-4" style="background-color: #e6e0f8; border-radius: 15px; margin-top: 20px; margin-left: 15px; margin-right: 15px;">
                    <h3 class="text-center text-black mb-4">Aggressive, Offensive, Constructive, Argumentative, Intolerance Statistics</h3>
                    <label for="timeSelector2">Select filter:</label>
                        <select id="timeSelector2" width="100" height="50">
                            <option value="days">Days</option>
                            <option value="weeks">Weeks</option>
                            <option value="months">Months</option>
                        </select>
                    <label for="classSelector">Select classification:</label>
                        <select id="classSelector" width="100" height="50">
                            <option value="aggressive">Aggressive</option>
                            <option value="offensive">Offensive</option>
                            <option value="constructive">Constructive</option>
                            <option value="argumentative">Argumentative</option>
                            <option value="intolerance">Intolerance</option>
                        </select>
                    <!-- Parte izquierda: tabla de datos -->
                    <div class="w-100 d-flex justify-content-center align-items-center">
                        <canvas id="myLineChart" width="1200" height="500"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-2 d-flex flex-column justify-content-center align-items-center">
            </div>
        </div>  
    </div>

    {% if notVideoList %}
    <div id="successModal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <h2 style="color: red";>Warning!</h2>
            <p>{{ notVideoList }}</p>
            <a class="taskButton" href="/tasksView">My tasks</a>
        </div>
    </div>
    {% endif %}
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Agregar Chart.js desde CDN -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='scripts/canvas.js') }}"></script> 

<script>
    
</script>
</html>